@media only screen and (max-width: 767px){
    body{
        max-width: 768px;
    }
    .header_image{
        position: relative;
        overflow: hidden;
        width: 768px;
        height: 250px;
    }
    .header_text{
        font-family: Oswald;
        font-size: 40px;
        font-style:oblique;
    }
    .centered{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #name{
        position: relative;
        top:40px;
        left: 250px;
        font-family: Oswald;
        font-size: 20px;
    }
    #profile_photo{
        position: relative;
        top: 40px;
        left: 66%;
    }
    #profile_photo img{
        border-radius: 50%;
        width: 200px;
    }
    #bio{
        position: relative;
        top: 100px;
        left: 35%;
        width: 500px;
    }
    #bio p{
        margin-bottom: 100px;
        font-family: Oswald;
        font-size: 30px;
        text-align: justify;
    }
    .vl {
    border-left: 6px solid black;
    height: 500px;
    position: absolute;
    left: 750px;
    margin-left: -3px;
    top: 650px;
    margin-bottom: 100px;
    }
    #education_logo{
        position: relative;
        left: 300px;
        top: 100px;
    }
    #experience_logo{
        position: relative;
        top: -30px;
        left: 1100px;
    }
    #list_education{
        font-size: 48px;
        position: relative;
        top:10px;
        left: 200px;
    }
    #list_experience{
        font-size: 48px;
        position: relative;
        top:-210px;
        left: 820px;
    }
}
    
    @media only screen and (min-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .wrap {width: 1600px; margin: 0 auto;}
    .navigation li{
        display: inline;
        margin-left: 20px;
        font-family: Oswald;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 30px;
    }
    .navigation ul{
        left: -40px;
        position: relative;
        float: left;
    }
    .navigation a{
        color: black;
        text-decoration: none
    }
    .navigation a:hover{
	   color: #4bcaff;
	   padding: 5px;
	   margin-left: -7px;
	   margin-right: -7px;
	   border: 2px solid #4bcaff;
    }
    .header_image{
        background-size: 100%;
        position: relative;
        overflow: hidden;
        width: 1600px;
        height: 400px;
    }
    .header_text{
        font-family: Oswald;
        font-size: 40px;
        font-style:oblique;
    }
    .centered{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #name{
        position: relative;
        top:40px;
        left: 37%;
        font-family: Oswald;
        font-size: 40px;
    }
    #profile_photo{
        position: relative;
        top: 80px;
        left: 37%;
    }
    #profile_photo img{
        border-radius: 50%;
    }
    #bio{
        position: relative;
        top: 100px;
        left: 15%;
        width: 1200px;
    }
    #bio p{
        margin-bottom: 100px;
        font-family: Oswald;
        font-size: 40px;
    }
    .vl {
    border-left: 6px solid black;
    height: 500px;
    position: absolute;
    left: 750px;
    margin-left: -3px;
    top: 650px;
    margin-bottom: 100px;
    }
    #education_logo{
        position: relative;
        left: 300px;
        top: 100px;
    }
    #experience_logo{
        position: relative;
        top: -30px;
        left: 1100px;
    }
    #list_education{
        font-size: 48px;
        position: relative;
        top:10px;
        left: 200px;
    }
    #list_experience{
        font-size: 48px;
        position: relative;
        top:-210px;
        left: 820px;
    }
    #code_logo{
        left: 200px;
        top:200px;
        position: relative;
    }
    #design_logo{
        position: relative;
        left: 200px;
        top: 400px;
    }
    #trait_logo{
        position: relative;
        left: 200px;
        top:850px;
    }
    #code_list{
        position: relative;
        left: 400px;
        top:-200px;
        font-size: 50px;
    }
    #design_list{
        position: relative;
        left: 400px;
        top:-180px;
        font-size: 50px;
    }
    #trait_list{
        position: relative;
        left: 400px;
        top: -50px;
        font-size: 50px;
        margin-bottom: 100px;
    }
    #phone_logo{
        position: relative;
        top: 100px;
        left: 450px;
    }
    #mail_logo{
        position: relative;
        top: 100px;
        left: 450px;
    }
    #web_logo{
        position: relative;
        top: 200px;
        left: 450px;
        margin-bottom: 100px;
    }
    #contact_info{
        position: relative;
        top:-450px;
        left: 650px;
        font-size: 50px;
    }
    #submit_button{
        position: relative;
        left: 40px;
        top: 110px;
        margin-bottom: 100px;
        
    }
    .form-group{
        width: 800px;
        position: relative;
        left: 40px;
        top: 100px;
    }
}
