{% load static %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Anditama's bio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    
<body>
    <div class="wrap">
    <header>
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="HTMLPage1.html">Anditama's Bio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- left navigation links -->
      <ul class="navbar-nav mr-auto">

        <!-- active navigation link -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>


        <!-- regular navigation link -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'eduexp' %}">Education and Experience</a>
        </li>

        <!-- more navigation links -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'skilltrait' %}">Skill and Traits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contacts' %}">Contact</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'schedules' %}">Schedules</a>
          </li>
          
      </ul>

      <!-- right navigation link -->
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'registration' %}">Registration</a>
        </li>
      </ul>
    </div>
</nav>
{% block content %}
{% endblock %}
        