{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <div class = "header_image"> 
        <img src="{% static 'images/sawah.jpg' %}">
        <div class="centered"><span class=header_text>Contact</span></div>
    </div>
    </header>
        
    <main>
        <div id="phone_logo">
            <img src = "{% static 'images/phone.png' %}" width="10%" height="10%">
        </div>
        <div id="mail_logo">
            <img src = "{% static 'images/envelope.png' %}" width="10%" height="10%">
        </div>
        <div id="web_logo">
            <img src = "{% static 'images/world.png' %}" width="10%" height="10%">
        </div>
        <article id="contact_info">08111981584<br><br><br>rizkind@gmail.com<br><br><br>anditama.id</article> 
        </main>
        
    </div>
        
</body>
    

</html>
{% endblock %}