{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class = "header_image">  
        <img src="{% static 'images/sunset.jpg' %}">
        <div class="centered"><span class=header_text>Education and Experience</span></div>
        </div>
    </header>

    <main>
        <div id="education_logo">
            <img src = "{% static 'images/education.png' %}">
        </div>
        <div id="experience_logo">
            <img src = "{% static 'images/experience.png' %}">
        </div>
        
        <article id ="list_education">SD Islam Al Azhar 6<br>SMP Labschool Jakarta<br>SMA Labschool Jakarta<br>Universitas Indonesia</article>
        
        <article id ="list_experience">Staff of Compfest X<br>Staff of Fasilkom Graduation<br>Staff of Open House Fasilkom UI</article>
        
        <div class="vl"></div>
            
    </main>       
    </div>
    </body>
</html>
{% endblock %}
    