﻿{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <div class = "header_image"> 
        <img src="{% static 'images/jembatan.jpg' %}">
        <div class="centered"><span class=header_text>Welcome</span></div>
    </div>
    </header>
    
    <main>
        <div class="col-md-8 mb-4"
        <div id = "name">Muhammad Rizky Anditama</div>        
        <div id = "profile_photo">
            <img id = "profile_pic" src="{% static 'images/foto.jpg' %}" alt="Foto">
        </div>
        
        <div id = "bio">
            <p>Hello, my name is Andi and i’m currently a Computer Science student at University of Indonesia.  I am an amateur programmer that currently studying web programming. Beside programming,  i have a passion for planning and designing website such as this. I love to play games and watch movies.</p>
        </div>
    </main>
    </div>
        
</body>
    

</html>
{% endblock %}