{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <div class = "header_image"> 
        <img src="{% static 'images/langit.jpg' %}">
        <div class="centered"><span class=header_text>Registration</span></div>
    </div>
        </header>
        
    <main><form>
  <div class="form-group">
    <label for="exampleInputName">Name</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your full name">
    <small id="emailHelp" class="form-text text-muted">Please enter your name.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputDOB">Date of Birth</label>
    <input type="date" class="form-control" id="exampleInputDOB" aria-describedby="emailHelp" placeholder="Enter your full name">
    <small id="emailHelp" class="form-text text-muted">Please enter your date of birth.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPOB">Place of Birth</label>
    <input type="place" class="form-control" id="exampleInputPOB" aria-describedby="emailHelp" placeholder="Your place of birth">
    <small id="emailHelp" class="form-text text-muted">Please enter your place of birth.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputName">Username</label>
    <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your username">
    <small id="emailHelp" class="form-text text-muted">Please enter your username.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Re-enter Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
        <div id="submit_button">
            <button type="submit" class="btn btn-primary">Submit</button></div>
</form></main>
            </div>
        
</body>
    

</html>
{% endblock %}