{% extends 'base.html' %}
{% load static %}
{% block content %}

 <div class = "header_image"> 
        <img src="{% static 'images/langit.jpg' %}">
        <div class="centered"><span class=header_text>Schedules</span></div>
    </div>
        </header>
<table class="table">
        <thead>
            <th>Kegiaatan</th>
            <th>Waktu</th>
            <th>Tempat</th>
            <th>Kategori</th>
        </thead>
        <tbody>
            <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
            {% for i in schedule %}
            {% if i.kegiatan == 'Anonymous' or i.waktu == 'Anonymous' or i.tempat == 'Anonymous'%}
            <tr class="warning"> {% else %} <tr class="success">
                {% endif %}
                <td> {{i.kegiatan}} </td>
                <td> {{i.waktu}} </td>
                <td> {{i.tempat}} </td>
                <td> {{i.kategori}} </td>
            </tr>             
            {% endfor %}
        </tbody>
    </table>


</body>
</html>
{% endblock %}