{% extends 'base.html' %}
{% load static %}
{% block content %}

 <div class = "header_image"> 
        <img src="{% static 'images/langit.jpg' %}">
        <div class="centered"><span class=header_text>Schedules</span></div>
    </div>
        </header>

<div class="form-group">
<form id="form" method="POST" action="{%url 'schedule_post' %}">
{% csrf_token %}
{{schedule_form}}
    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
    </form>
    <form id="form2" method="POST" action="{%url 'schedule_post' %}">
        {% csrf_token %}
    <button type="submit" name="delete" class="btn btn-primary">Delete</button>
    </form>
</div>

</body>
</html>
{% endblock %}