{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    
    <div class = "header_image"> 
        <img src="{% static 'images/office.jpg' %}">
        <div class="centered"><span class=header_text>Skills and Traits</span></div>
    </div>
    </header>
        
    <main>
        <div id="code_logo">
            <img src = "{% static 'images/coding.png' %}">
        </div>
        <div id="design_logo">
            <img src = "{% static 'images/rgb.png' %}">
        </div>
        <div id="trait_logo">
            <img src = "{% static 'images/exercise.png' %}">
        </div>
        <article id="code_list">Java&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<progress value="60" max="100">
            </progress><br><br>Python&ensp;&ensp;&nbsp;&nbsp;&ensp;<progress value="40" max="100"></progress><br><br>HTML&ensp;&ensp;&ensp;&ensp;<progress value="40" max="100"></progress>
        </article>
        <article id="design_list">Illustrator&ensp;&ensp;<progress value="50" max="100">
            </progress><br><br>Photoshop&ensp;&nbsp;<progress value="30" max="100">
            </progress>
        </article>
        <article id="trait_list">Teamworker&ensp;&#10004;<br><br>Hardworker&ensp;&#10004;<br><br>Focused&ensp;&#10004;<br><br>Diligent&ensp;&#10004;</article>
    </main>
        
     </div>
        
</body>
    

</html>
{% endblock %}